/* Global */

@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
:root {
  --dark: #2d3142;
  --lihgter: #4f5d75;
  --lihgt: #bfc0c0;
  --white: #ededed;
  --orange: #ef8354;
  --p-padding: 40px;
}

body {
  background: var(--white);
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

img {
  max-width: 100%;
}

main header {
  font-size: 30px;
  padding-top: 20px;
  padding-left: 40px;
}

section {
  padding-left: var(--p-padding);
}

section header {
  font-size: 35px;
}

.main-section {
  max-width: 80%;
  margin: 0 auto;
}

.main-section li {
  line-height: 1.8;
}

.main-section ul,
p {
  margin: 10px auto;
}

.text {
  text-decoration: underline dotted;
}

/* code box */

.code {
  background: rgba(0, 0, 0, 0.1);
  padding: 10px;
  color: black;
  border-left: 5px solid var(--orange);
  font-family: 'Ubuntu Mono', monospace;
}

.code-sample {
  padding: 10px;
  border: 1px solid var(--lihgt);
  border-left: 5px solid var(--orange);
  height: 250px;
  font-family: 'Ubuntu Mono', monospace;
  background: white;
}

.code-inside {
  background: yellow;
  border: 1px solid black;
}

.code-sample p {
  color: red;
  text-decoration: underline;
}

.code-sample ul {
  text-decoration: underline;
}

.code-back {
  background: var(--lihgt);
  font-family: 'Ubuntu Mono', monospace;
}

.code li {
  height: 24px;
}

.code-g {
  color: #999999;
}

.code-br {
  color: #a67f70;
}

.code-b {
  color: #0077aa;
}

.code-bl {
  color: black;
}

.code-gr {
  color: #669900;
}

.code-r {
  color: #990055;
}

.code-pad2 {
  padding-left: 10px;
}

.code-pad4 {
  padding-left: 20px;
}

.code-pad6 {
  padding-left: 30px;
}

/* red box */

.red-box {
  background: #fdadaf;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #e66465;
  line-height: 1.7;
}

/* yellow box */

.yellow-box {
  background: #fff3d4;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #f6b73c;
  line-height: 1.7;
}

#container {
  display: grid;
  grid-template-areas: "side-bar content";
  grid-gap: 5px;
  margin-left: 300px;
  margin-right: 30px;
}

#main-doc {
  grid-area: content;
}

/* navbar */

#navbar {
  background: var(--lihgter);
  color: white;
  max-width: 300px;
  height: 100%;
  position: fixed;
  /* z-index: 1; */
  top: 0;
  left: 0;
  overflow: hidden;
  grid-area: side-bar;
}

#navbar header {
  display: grid;
  justify-items: center;
  align-items: center;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 100;
  letter-spacing: 3px;
}

#navbar ul {
  display: grid;
  height: 100vh;
  grid-template-rows: repeat(auto-fit, minmax(40px, 1fr));
  align-items: stretch;
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
    overflow-x: hidden;
}

.nav-link {
  background: var(--lihgt);
  display: block;
  text-decoration: none;
  padding: 5px;
  height: 100%;
  align-items: center;
  color: white;
  font-size: 20px;
  align-self: center;
  border-top: 1px solid var(--dark);
  /* text-transform: capitalize; */
  text-align: center;
  display: grid;
}

@media (max-width: 815px) {
   #container {
    grid-template-areas: "side-bar" "content";
    padding: 0;
    margin: 0; 
  }
  #navbar {
    grid-area: side-bar;
    position: relative;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 1;
    max-width: 100%;
    max-height: 275px;
    overflow-y: scroll;
  }

  #main-doc {
    grid-area: content;
    z-index: 1;
  }

  .main-section {
    padding: 0;
  }

  .code  li{
    position: relative;
    overflow-x: scroll;
   
    
  }
}